$font-size: 8em;
* {
    margin: 0;
}

.temp-section {
    /*SIZE*/
    width: fit-content;
    /*POSITION*/
    position: relative;
    display: flex;
    flex-direction: row;
    &.day {
        color: black;
    }
    &.night {
        color: white;
    }
    .temp {
        font-size: $font-size;
    }
    .region-name {
        /*SIZE*/
        font-size: 4em;
        height: fit-content;
        /*POSITION*/
        align-self: flex-end;
        /*FILTER*/
        opacity: 0.8;
    }
    @media (max-width: 865px) {
        & {
            .temp {
                font-size: 5em;
            }
            .region-name {
                font-size: 2.5em;
            }
        }
    }
}