$width: 400px;
$height: 600px;
.main-card {
    box-sizing: border-box;
    width: $width;
    height: $height;
    max-width: $height;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    align-self: center;
    .card-svg {
        position: absolute;
    }
    &.day {
        #moon {
            fill-opacity: 0;
            .moon-halo {
                fill-opacity: 0;
            }
        }
        &.clear {
            background-color: rgb(149, 214, 241);
            #sun {
                fill-opacity: 1;
            }
            .clouds-1 {
                fill: white;
                fill-opacity: .6;
            }
            .clouds-2,
            .clouds-3,
            .clouds-4,
            .clouds-5 {
                fill-opacity: 0;
            }
        }
        &.few-clouds {
            .cloud {
                fill: rgb(83, 83, 83);
            }
            .clouds-1,
            .clouds-2,
            .clouds-3,
            .clouds-4 {
                fill-opacity: .4;
            }
            .clouds-5 {
                fill-opacity: 0;
            }
        }
        &.dark-clouds {
            background-color: rgb(144, 163, 172);
            #sun {
                fill-opacity: .2;
                .sun-halo {
                    fill-opacity: 0;
                }
            }
            .cloud {
                fill: rgb(53, 53, 53);
            }
            .clouds-1,
            .clouds-2,
            .clouds-3,
            .clouds-4,
            .clouds-5 {
                fill-opacity: .5;
            }
        }
        &.rain {
            .drop {
                fill-opacity: 1;
            }
        }
    }
    &.night {
        #sun {
            fill-opacity: 0;
            .sun-halo {
                fill-opacity: 0;
            }
        }
        background-color: rgb(5, 0, 27);
        .clear {
            #moon {
                fill-opacity: 1;
            }
            .clouds-1 {
                fill: rgb(83, 83, 83);
                fill-opacity: .3;
            }
            .clouds-2,
            .clouds-3,
            .clouds-4,
            .clouds-5 {
                fill-opacity: 0;
            }
        }
        &.few-clouds {
            .cloud {
                fill: rgb(83, 83, 83);
            }
            .clouds-1,
            .clouds-2,
            .clouds-3,
            .clouds-4 {
                fill-opacity: .4;
            }
            .clouds-5 {
                fill-opacity: 0;
            }
        }
        &.dark-clouds {
            #moon {
                fill-opacity: .5;
            }
            .cloud {
                fill: rgb(20, 21, 32);
            }
            .clouds-1,
            .clouds-2,
            .clouds-3,
            .clouds-4,
            .clouds-5 {
                fill-opacity: .8;
            }
        }
        &.rain {
            .drop {
                fill-opacity: 1;
            }
        }
    }
}